/* App.css */
.App {
  font-family: Arial, sans-serif;
}

.page-container {
  margin-top: 60px; /* to make space for the navbar */
  text-align: center;
  padding: 20px;
}

.page-content {
  padding: 20px;
  margin: 20px 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #555;
}
