/* src/pages/ContactUs.css */
.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 80px 20px 20px;
    gap: 20px;
  }
  
  .contact-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  
  .contact-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 19px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: rgba(255, 166, 0, 0.73);
  }
  
  .contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .contact-info p {
    font-size: 1.2rem;
    color: #333;
  }
  